*{
    margin: 0;
    
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    text-align: center;
    margin: 0%;
    padding: 0%;
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}

.titulo{
    margin-left: 50px;
    padding: 50px;
}

.navegacion{
	width: 1423px;
	margin: 0% auto;
    background-image: linear-gradient(to right, #434343 0%, black 100%);
}

.navegacion ul{
	list-style: none;
}

.header nav ul{
	display: flex;
	justify-content: space-around;
}

.menu > li{
	position: relative;
	display: inline-block;
}

.menu > li > a{
	display: block;
	padding: 15px 90.5px;
	color: white;
	font-family: 'Open sans';
	text-decoration: none;
}

.menu li a:hover{
	color: aqua;
	transition: all .2s;
}

.navegacion ul li a:hover{
	opacity: 1;
    transition: opacity 1.5s;
}

/*submenu1*/

.submenu1{
	position: absolute;
    background-image: linear-gradient(to right, #434343 0%, black 100%);
	width: 90%;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1.5s;
}

.submenu1 li a{
    display: flex;
	display: block;
	padding: 0px;
    margin: 25%;
	color: #fff;
	font-family: 'Open sans';
	text-decoration: none;
}

.menu li:hover .submenu1{
	visibility: visible;
	opacity: 1;
}


/* Submenu2*/

.submenu2{
	position: absolute;
    background-image: linear-gradient(to right, #434343 0%, black 100%);
	width: 100%;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1.5s;
}

.submenu2 li a{
    display: flex;
	display: block;
    padding-top: 15px;
    margin-left: 24.5%;
    padding: 20px;
	color: #fff;
	font-family: 'Open sans';
	text-decoration: none;
}

.menu li:hover .submenu2{
	visibility: visible;
	opacity: 1;
}

/*submenu3*/

.submenu3{
	position: absolute;
    background-image: linear-gradient(to right, #434343 0%, black 100%);
	width: 100%;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1.5s;
}

.submenu3 li a{
	display: block;
	padding: 15px;
    margin-left: 40px;
	color: #fff;
	font-family: 'open sans';
	text-decoration: none;
}

.menu li:hover .submenu3{
	visibility: visible;
	opacity: 1;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

aside{
    flex: 50px;
    background-color: beige;
    padding: 20px;
}

section{
    flex: 70%;
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    padding: 20px;
}

footer{
    flex: 0px;
    text-align: center;
    background-image: linear-gradient(to right, #434343 0%, black 100%);
    color: white;
	padding: 4%;
}

.link{
	display: block;
	background: #00f2fe;
	margin: -1%;
}