*{
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header{
    padding: 1%;
    text-align: center;
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}

.titulo{
    margin-top: -120px;
}

.img1{
    text-align: center;
}

img{
    width: 10%;
    border-radius: 10%;
    margin-left: -90%;
}

.navegacion ul{
    list-style: none;

}

nav{
    display: flex;
    flex-direction: row;
    background-color: #333;
}

nav a{
    color: white;
    padding: 20px 70px;
    text-decoration: none;
    text-align: center;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

aside{
    flex: 30%;
    background-color: beige;
    padding: 20px;
    background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
}

section{
    flex: 70%;
    background-color: khaki;
    padding: 20px;
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}

footer{
    color: #fff;
    padding: 40px;
    text-align: center;
    background-color: #333;
}


@media screen and (max-width: 700px){
    nav, .row{
        flex-direction: column;
    }
}

@media screen and (max-width: 500px){
    nav, .row{
        flex-direction: column;
    }
}

.menu > li{
    position: relative;
    display: inline-block;
}

.menu > li > a{
    display: block;
    padding: 15px 50px;
    color: rgb(255, 255, 255);
    font-family: 'open sans';
    text-decoration: none;
    margin-left: 115px;
}

.menu a:hover{
    color: rgb(2, 147, 243);
}

.menu li a:hover{
    color: rgb(2, 147, 243);
    transition: all .2s;
}

.submenu1{
	position: absolute;
	background: #333;
    width: 50%;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1.5s;
    margin-left: 120px;
}

.submenu1 li a{
    display: block;
	padding: 10px;
	color: #fff;
	font-family: 'Open sans';
	text-decoration: none;
    margin-left: -40px;
}

.menu li:hover .submenu1{
    visibility: visible;
	opacity: 1;
}

.submenu2{
    position: absolute;
    background: #333;
    width: 50%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1.5s;
    margin-left: 140px;
}

.submenu2 li a{
    display: block;
    padding: 10px;
    color: #fff;
    font-family: 'open sans';
    text-decoration: none;
    margin-left: -40px;
}

.menu li:hover .submenu2{
    visibility: visible;
    opacity: 1;
}

.submenu3{
    position: absolute;
    background: #333;
    width: 60%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1.5s;
    margin-left: 120px;
}

.submenu3 li a{
    display: block;
    padding: 10px;
    color: #fff;
    font-family: 'open sans';
    text-decoration: none;
    margin-left: -40px;
}

.menu li:hover .submenu3{
    visibility: visible;
    opacity: 1;
}

.imagenice{
    margin: 0%;
    width: 80%;
}

